<div class="container mt-3">

    <div class="row justify-content-start">

        <h1>Users List</h1>
        <hr>

        {{#each users}}

        <div class="col-md-4">

            <div class="card mb-3 p-2">
                <div class="row g-0">
                    <div class="col-md-4 d-flex">
                        <img class="rounded-circle object-fit-cover userImg align-self-center" src="{{avatar}}"
                            alt="{{username}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{username}}</h5>

                            <p class="card-text">{{email}}</p>
                            <div class="d-flex row justify-content-center">
                                <div class="col-5 mx-1">
                                    <a class="btn btn-secondary mb-2" href="users/profile/{{_id}}">
                                        Details </a>
                                </div>
                                <div class="col-3 mx-1">
                                    <form action="users/{{_id}}/addFriend" method="post">
                                        <button type="submit" class="btn btn-success mb-2"> <img
                                                class="object-fit-contain "
                                                src="https://cdn.icon-icons.com/icons2/1744/PNG/512/3643746-add-friend-member-people-plus_113411.png"
                                                alt="add friend"> </button>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        {{/each}}

    </div>

</div>