<div class="container mt-3">

    <div class="row g-0">
        <div class="col-md-4 p-5">
            <div id="userImg">
                <img class="rounded-4" src="{{avatar}}" alt="{{username}}">
            </div>
        </div>
        <div class="col-md-8 p-5">
            <div class="card-body">
                <h2 class="card-title">Hello: {{username}}</h2>
                <hr>
                <p class="card-text">Email: {{email}}</p>
                <p class="card-text">Birthday: {{birthday}}</p>
            </div>
        </div>
    </div>

    <div class="d-grid justify-content-center mt-3">

        <a href="/users/profile/edit" class="btn btn-warning">Edit information</a>

    </div>


</div>