<div class="container">

    <div class="row justify-content-center">

        <h1>Users List</h1>
        <hr>

        {{#each users}}

        <div class="col-md-4">


            <div class="card mb-3 p-2">
                <div class="row g-0">
                    <div class="col-md-4 d-flex">
                        <img class="rounded-circle object-fit-cover userImg align-self-center" src="{{avatar}}"
                            alt="{{username}}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{username}}</h5>

                            <p class="card-text">{{email}}</p>
                            <div class="d-flex">
                                <a class="btn btn-search mb-2" href="users/profile/{{_id}}"> Details </a>

                                <form action="users/{{_id}}/addFriend" method="post">
                                    <button type="submit" class="btn btn-search mb-2"> Add to friends </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>




        </div>

        {{/each}}

    </div>

    <hr>

    <a href="/" class="btn btn-dark">Back to start</a>

</div>